@{
    ViewData["Title"] = "Editar";
}

<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="border border-2 rounded-3 border-primary">
        <div class="card-body">
            <h1 class="display-6 card-title text-center">Editar contato</h1>

            <div class="container">
                <form>
                    <div class="form-group mb-4">
                        <label for="Name">Nome</label>
                        <input type="text" class="form-control" id="InputName" placeholder="Nome Completo">
                    </div>
                    <div class="form-group mb-4">
                        <label for="Email">Endereço de email</label>
                        <input type="email" class="form-control" placeholder="email@email.com">
                    </div>
                    <div class="form-group mb-4">
                        <label for="Cell">Celular</label>
                        <input type="text" class="form-control" placeholder="(xx) x xxxx-xxxx">
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Alterar</button>
                        <a role="button" class="btn btn-secondary btn-lg" asp-controller="Contato"
                            asp-action="Index">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>